<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Client Errors Logging</display-name>

	<servlet>
		<servlet-name>jslogreportservlet</servlet-name>
		<servlet-class>org.tests.MainServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jslogreportservlet</servlet-name>
		<url-pattern>/reportjserror/log</url-pattern>
	</servlet-mapping>


</web-app>
